    <script src="js/base.js"></script>
    <script src="js/boot.js"></script>
    <script src="js/tabs.js"></script>
    <script src="js/state.js"></script>
    <script src="js/tooltips.js"></script>
    <script src="js/clock.js"></script>
    <script src="js/setup_wizard.js"></script>
    <script src="js/confirm_modal.js"></script>
    <script src="js/safety.js"></script>
    <script src="js/power_ui.js"></script>
    <script src="js/user_menu.js"></script>
    <script src="js/outputs.js"></script>
    <script src="js/lt_toggle.js"></script>
    <script src="js/manual_outputs.js"></script>
    <script src="js/system_commands.js"></script>
    <script src="js/heartbeat.js"></script>
    <script src="js/control_api.js"></script>
    <script src="js/device_settings.js"></script>
    <script src="js/load_controls.js"></script>
    <script src="js/user_settings.js"></script>
    <script src="js/admin_settings.js"></script>
    <script src="js/wifi_settings.js"></script>
    <script src="js/live_overlay.js"></script>
    <script src="js/session_events.js"></script>
    <script src="js/calibration_ui.js"></script>
    <script src="js/calibration_actions.js"></script>
    <script src="js/wire_test.js"></script>
    <script src="js/calibration_data.js"></script>
    <script src="js/calibration_chart.js"></script>
    <script src="js/live_control.js"></script>
    <script src="js/monitor_gauges.js"></script>
    <script src="js/logout.js"></script>
    <script src="js/init.js"></script>
    <script src="js/exports.js"></script>

