      <!-- Live Tab -->

      <!-- Live Tab -->

      <div class="content" id="liveTab">

        <div class="content-header">

          <h2></h2>

        </div>



        <div class="live-wrap">

          <div data-include="partials/live/legend.html"></div>

          <div data-include="partials/live/stage.html"></div>

          <div data-include="partials/live/session-history-modal.html"></div>



          <div data-include="partials/live/calibration-modal.html"></div>

        </div>

      </div>



