<template data-notification-item-template>
  <div class="noticeItem" data-notice-level="info">
    <div class="noticeMain">
      <div class="noticeTitle" data-notice-title data-i18n="dashboard.notice.placeholder.title">
        Notification
      </div>
      <div class="noticeDesc" data-notice-desc data-i18n="dashboard.notice.placeholder.desc">
        Details
      </div>
    </div>
    <div class="noticeTag" data-notice-tag data-i18n="dashboard.notice.placeholder.tag">
      INFO
    </div>
  </div>
</template>
