@font-face {
  font-family: "Inter";
  src: url("fonts/Inter_18pt-Regular") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("fonts/Inter_18pt-SemiBold") format("truetype");
  font-weight: 600;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: radial-gradient(
      circle at top,
      rgba(0, 255, 174, 0.06),
      transparent
    ),
    radial-gradient(circle at bottom, rgba(0, 119, 255, 0.06), transparent),
    linear-gradient(to bottom right, #050608, #090b10);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

